.Contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

@media screen and (min-width: 600px) {

    .Contenedor{
        width:90%;
    }

    .fab{
        font-size:10vw;
    }

    h1{
        font-size:20w;
    }
}

@media screen and (min-width: 900px) {

    .Contenedor{
        width:90%;
    }

    #BIO{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .fab{
        font-size:10vw;
    }

    h1{
        font-size:20w;
    }
}


body{
    /*background-color: rgba(212, 47, 47, 0.952);*/
    background-image: url('leaves-5825458_640.jpg');
    background-repeat: repeat;
}

h1{
    font-family: 'Bunny Honey';
    font-size: 15vw;
    color: white;
    text-align: center;
    width: 80vw;
    margin: auto;
    grid-column: 1/4;
    grid-row: 1/2;
}

#BIO{
    grid-column: 1/4;
    grid-row: 2/3;
}

ul{
    list-style: none;
    display: inline;

}

.LI{
    padding: 2vw;
    margin: 1vw;
}

a, li {
    font-family: Bunny Honey;
    color: white;
    font-size: 8vw;
    text-decoration: none;
    background-color: rgb(155, 31, 31);
    padding: 0.5vw;
    padding-top: 0px;
    margin: 2vw;
    margin-top: 5vw;
    border-radius: 1vw;
    text-align: center;
}

.icon :hover{
    text-shadow: black 2px 3px 2px;
}


.Title{
    display: block;
    padding: 0px;
    
}
.icon{
    margin: auto;
    display: inline;
    
}

.fab{
    font-size: 6vw;
}
